<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Busqueda de Usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/buscador.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
<body>
  <%- include('./partials/header')%>
<br>
<br>
 <h1 class="">Usuarios encontrados</h1>
 <br>
 <br>
 <% for (let i = 0; i < userbuscado.length; i++) { %>


  
  <% if (userbuscado[i] == 'No se encontraron usuarios para estos datos'  ) { %>
    <p style="text-align: center;"><%= userbuscado[i] %></p>
    <% } else { %>
    
  <ul >
    <li style="text-align: center;"> <a href="/ubuscador/usuariodetalles/<%= userbuscado[i].email %>" class="mailsencontrados"><%= userbuscado[i].email %></a> </li>
    
  </ul>
      <% } %>





  <% } %>



 <br>
 <br>
 <br>
 <br>
 <br>
 

     <%- include('./partials/footer')%>
  
  </body>
  </html>


<script type="text/javascript"src="/js/encabezadolog.js"></script>