<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Detalle de Peliculas</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/detallePelis.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
  <body>
    <%- include('./partials/header')%>

       <div class="detallemovies">


      <ul class="detallepelis">

      </ul>

    <img class="corazonVacio"src="corazonVacio.svg" alt="">
    <img class="corazonLleno" src="corazonLleno.svg" alt="">



    <section>
      <button class="recomendaciones" type="button" name="recomendaciones"> VER RECOMENDACIONES</button>
      <ul class="recomendaciones">

        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>

      </ul>
    </section>

  
      <h2 class="reseniastitle">  Reseñas  </h2>
     
      <div class="reseniasCont">

        <ul class="reseniasSection" style="width: 400px; margin-left: auto; margin-right: auto;word-break: break-all">
          <% if (resenias.length == 0) { %>
            <li class="noresenias"> 
              Todavía no hay reseñas para esta película
            </li>
            
          <% } else { %>
            <% for (let i=0 ; i < resenias.length ; i ++){ %>
              <li class="siresenias">
                <p class="reseniasp">
                  <b>Usuario:</b> <%= resenias[i].usuario.nombre_de_usuario %>
                </p>   
                  <br>
                  <p class="reseniasp">
                    <%= resenias[i].texto_resenia %>
                  </p>
                 
                   <br>
                   <p class="reseniasp">
                   <b>Estrellas :</b> <%= resenias[i].puntaje_pelicula %>  <b> /5.00</b>
                   </p>
                 

               </li>  
            <% } %>

          <% } %> 
          

        </ul>
    
      </div>
<br>
      <button type="button" class="crearNuevar">
        <a href="/resenias/crearResenia" class="crearNueva">NUEVA RESEÑA</a>
      </button>

      
       <%- include('./partials/footer')%>

      <script>
        let queryString = new URLSearchParams(location.search);
        console.log(queryString.get('id'));
        let enlaceCrear = document.querySelector('.crearNueva');
        enlaceCrear.href += ('?id=' + queryString.get('id'));
      </script>

  </body>
</html>

<script type="text/javascript" src="/js/detallePelis.js">

</script>
<script type="text/javascript" src="/js/carrouselgen.js">

</script>
<script type="text/javascript"src="/js/encabezadolog.js"></script>
