<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mis reseñas</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/misresenias.css">
    <link rel="stylesheet" href="/css/carrousel.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    
  </head>
<body>
 
  <%- include('./partials/header')%>
  
    <h1 style="margin-top: 100px;">Mis Reseñas</h1>
 
  
    <% for (let i = 0; i < resultado.length; i++) { %>
      <% if (resultado[i] == 'todavia no hiciste reseñas'  ) { %>
        <p style="text-align: center;"><%= resultado[i] %></p>
      <% } else { %>
        <ul class="reseniassection" style="word-break: break-all;" >
          <li style="text-align: center;"> <%=resultado[i].texto_resenia %> </li>
          <li style="text-align: center "> <b> puntaje: </b> <%=resultado[i].puntaje_pelicula %> </li>
          <li><a href="/resenias/detallePelis/<%=resultado[i].id_pelicula%>?id=<%=resultado[i].id_pelicula%>" class="reseniasa">  <b> Ver pelicula   </b></a></li>
          <li></li><a href="/misresenias/editar/<%=resultado[i].id%>" class="reseniasa">Editar</a></li>
          <li></li><a href="/misresenias/borrar/<%=resultado[i].id%>" class="reseniasa">Eliminar</a></li>
        </ul>
      <% } %>
    <% } %>
    <br><br><br><br>
    
 <%- include('./partials/footer')%>

</body>
</html>

<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/carrusel.js"></script>
<script type="text/javascript"src="/js/encabezadolog.js"></script>