<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mis reseñas</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/carrousel.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    
  </head>
<body>
  <%- include('./partials/header')%>
<h1 style="margin-top: 100px;">Mis reseñas</h1>

<% for (let i = 0; i < resultado.length; i++) { %>


  
  <% if (resultado[i] == 'todavia no hiciste reseñas'  ) { %>
    <p style="text-align: center;"><%= resultado[i] %></p>
    <% } else { %>
    
  <ul >

    <li style="text-align: center;"> <%= resultado[i].texto_resenia %> </li>
    <li style="text-align: center;"> puntaje: <%= resultado[i].puntaje_pelicula %> </li>
    <li style="text-align: center;"><a href="/resenias/detallePelis/<%= resultado[i].id_pelicula%>?id=<%= resultado[i].id_pelicula %>" >ir a la pelicula</a></li>
    
  </ul>
      <% } %>


  <% } %>

  <%- include('./partials/footer')%>

</body>
</html>

<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/carrusel.js"></script>
<script type="text/javascript"src="/js/encabezadolog.js"></script>