<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Busqueda de Usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel="stylesheet" href="/css/buscador.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
  </head>
<body>
  <%- include('./partials/header')%>
<br>
<br>
<% for (let i = 0; i < user.length; i++) { %>
 <h1 class="">Detalles del usuario <%= user[i].nombre_de_usuario %></h1>
 <br>
 <br>


  <ul class="detalleusuarioencontrado" >
    <li style="text-align: center;">  <b>Nombre de usuario: </b> <%= user[i].nombre_de_usuario %> </li>
    <li style="text-align: center;">  <b>  Email: </b> <%= user[i].email %> </li>
    <li style="text-align: center;"> <b> Fecha de nacimiento:  </b><%= user[i].fecha_de_nacimiento %> </li>
  </ul>

  <% } %>



 <br>
 <br>
 <br>
 <br>
 <br>
 

     <%- include('./partials/footer')%>
  
  </body>
  </html>


<script type="text/javascript"src="/js/encabezadolog.js"></script>